@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-bg-color: #eeeeee;
$secondary-bg-color: #222831;
$primary-text-color: #393e46;
$secondary-text-color: #fc7114;
$white-text-color: #ffffff;

// COLOR CLASS
.primary-bg-color {
    background-color: $primary-bg-color;
}

.secondary-bg-color {
    background-color: $secondary-bg-color;
}

.primary-text-color {
    color: $primary-text-color;
    font-family: "Josefin Sans", sans-serif;
}

.secondary-text-color {
    color: $secondary-text-color;
    font-family: "Josefin Sans", sans-serif;
}

.white-text-color {
    color: $white-text-color;
    font-family: "Josefin Sans", sans-serif;
}

.navbar_Main {
    background-color: transparent;

    .header_Btn_Contact,
    .header_Btn_Message {
        background-color: $secondary-text-color;
        border: none;
        padding: 8px 15px;
        transition: 0.25s ease-in-out;

        &:hover {
            background-color: $secondary-bg-color;
            color: $secondary-text-color;
        }
    }
}

.hero-container-main {
    position: relative;

    .hero-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .hero-content {
        min-height: calc(100vh - 74px);
    }
}

.portfolio-wrapper {
    margin-top: 100px;
}

.fallback-container {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 0 !important;
    top: 0px !important;
    left: 0px !important;
    background-color: #222831;
    pointer-events: none;
}

.Links {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.heading--title {
    font-size: 4rem;
}

@media (max-width: 767px) {
    .portfolio-wrapper {
        margin-top: 30px !important;
    }

    .Links {
        padding: 0 !important;
    }

    .Links--wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0 !important;
        position: fixed;
        left: 0;
        bottom: 35px;
        padding: 0 28px;
    }

    .button--wrapper--Links {
        margin-top: 50px;
    }

    .heading--title {
        font-size: 3rem;
    }

    .contacted--message {
        min-height: 25vh !important;
        width: 90%;
    }
}

.contact-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    height: 100svh;
    width: 100%;
    z-index: 9997;
}

.contacted--message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-text-color;
    padding: 2rem;
    border-radius: 10px;
    z-index: 9998;
    min-height: 50vh;
}

.close-form {
    padding: 0 !important;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent !important;
    border: none !important;

    img {
        height: 24px !important;
        height: 24px !important;
    }
}

.contact--form {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-text-color;
    padding: 2rem;
    border-radius: 10px;
    z-index: 9998;

    label {
        color: $primary-text-color;
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
    }

    input,
    textarea {
        background-color: $white-text-color;
        border-color: $secondary-text-color;
        color: $secondary-bg-color;
        font-size: 14px;

        &:focus,
        :active {
            box-shadow: none !important;
            border-color: $secondary-text-color;
        }
    }

    @media (max-width: 767px) {
        // margin-top: 101px;
        width: 100%;
        // min-height: 100svh;
        padding: 1.5rem;
        border-radius: 0px;

        .submit--form--btn {
            width: 100% !important;
        }
    }

    .submit--form--btn {
        background-color: $secondary-text-color !important;
        color: $secondary-bg-color !important;
        border: none;
        padding: 8px 15px;
        border: 1px solid transparent !important;
        transition: 0.25s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none !important;

        &:hover {
            border: 1px solid $secondary-text-color !important;
            background-color: #ffffff !important;
            color: $secondary-text-color !important;
        }

        &:focus,
        :active {
            background-color: #ffffff !important;
            border: 1px solid $secondary-text-color !important;
            color: $secondary-text-color !important;
            box-shadow: none !important;
            border-color: $secondary-text-color;
        }
    }

    Button {

        .loader-circle {
            width: 20px;
            height: 20px;
        }
    }

    .mandatory {
        color: #FF0000;
    }
}

.Toastify__toast-container {
    z-index: 999999;
}

#toaster--class {
    background-color: $secondary-bg-color !important;
    color: $secondary-text-color !important;

    .Toastify__toast-icon {
        svg {
            fill: $secondary-text-color !important;
        }
    }

    .Toastify__progress-bar {
        background-color: $secondary-text-color !important;
    }
}

#toaster--class .Toastify__icon {
    color: white !important;
}

.contact-overlay,
.contact--form,
.contacted--message {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.grid-buttons {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 15px;

    @media (max-width: 767px) {
        grid-template-columns: 2fr 2fr;
    }

    @media (max-width: 1118px) {
        grid-template-columns: 2fr 2fr;
    }

    p {
        font-size: 14px;
        text-align: left;

        &:hover {
            background-color: transparent !important;

        }
    }

    .contact--option--button {
        background-color: #eeeeee5a !important;
        color: $secondary-bg-color !important;
        font-family: "Josefin Sans", sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 0;
        gap: 5px;
        padding: 12px 15px !important;
        border: none !important;

        @media (max-width: 767px) {
            align-items: baseline;
            line-height: 26px;
        }

        .icon--container {
            height: 16px;
            width: 16px;
        }

        &:focus,
        :active,
        :hover {
            background-color: #eeeeee5a;
            border: none !important;
            color: $secondary-bg-color !important;
            box-shadow: none !important;
        }

        &.active {
            background-color: $secondary-text-color !important;
            color: $white-text-color !important;
        }
    }
}